<td>{{contact.name}}</td>
<td>{{contact.dateOfBirth}}</td>
<td>{{contact.married}}</td>
<td>{{contact.phone}}</td>
<td>{{contact.salary}}</td>
<td>
    <button class="btn btn-warning" ng-click="editContact(contact)">Edit</button>
    <button class="btn btn-danger" ng-click="deleteContact(contact)">Delete</button>
</td>
