<td><input type="text" ng-model="selected.name" /></td>
<td><input type="text" ng-model="selected.dateOfBirth" /></td>
<td><input type="text" ng-model="selected.married" /></td>
<td><input type="text" ng-model="selected.phone" /></td>
<td><input type="text" ng-model="selected.salary" /></td>
<td>
    <button class="btn btn-secondary" ng-click="saveContact($index)">Save</button>
    <button class="btn btn-danger" ng-click="reset()">Cancel</button>
</td>
